@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');

body{
    font-family: $font-main;
    background-color: $dark;
    color: $white;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: $white;
    transition: color 0.2s ease-in;
    
    &:hover{
        color: $accent;
    }
}

.container{
    max-width: 1110px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.text-right{
    text-align: right;
}

.title-2{
    font-size: 36px;
    font-weight: 700;
    font-family: $font-accent;
    color: $accent;
}