.section-map{
    position: relative;
    padding: 180px 0;
    &::before{
        content: "V";
        right: calc(50% + 555px);
        transform: translate(50%, 0%);
        @include decorNumber;
        top: 180;
        line-height: 1;
    }
    @include mediaTablet{
        padding: 90px 0;
    }
}

.section-map__title{
    padding-bottom: 88px;
    @include mediaTablet{
        padding-bottom: 44px;
    }
}

.map{
    height: 358px;
    background: dimgray;
}